body {
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-gallery {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	width: 400px;
	color: #d5f455;
	text-align: center;
	border-right: 2px solid pink;
	box-shadow: 4px 4px 5px grey;
	margin-top: 10px;
}

img {
	width: 380px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

.profile-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 0 auto 30px;
}

.about {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	display: block;
	margin-bottom: 50px;
}

.about h3 {
	color: gray;
	margin-top: 50px;
	margin-left: 100px;
}

.about p {
	margin: 0 100px;
}


.display-4 {
	border-bottom: 2px solid green;
	width: 25rem;
}

.nav {
	background-color: rgba(250, 0, 220, .9);
	margin-bottom: 0;
}

.nav-item {
	border-left: 1px solid white;
}

.nav-item a {
	color: white;
	text-transform: uppercase;
}

.jumbotron {
	background-color: aqua;
	margin-bottom: 0;
}

.btn {
	background-color: magenta;
	border: none;
	box-shadow: 3px 3px 15px grey;
}

.btn:hover {
	background-color: purple;
	border:none;
	box-shadow: 3px 3px 15px grey;
}

footer {
	background-color: grey;
	height: 200px;
}

.copyright {
	border: 1px solid red;
	position:absolute;
	margin-top:150px;
	margin-right:0;
	margin-left:0;